<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <title>{{ title }} | ravinwashere.com</title>
    <meta name="description" content="{{ description or 'Personal blog of ravinwashere' }}">
    <link rel="canonical" href="https://ravinwashere.com{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="ravinwashere.com RSS Feed">
</head>
<body class="home">
    <header>
        <a class="title" href="/">
            <h1>ravinwashere</h1>
        </a>
        <nav>
            <p><a href='/blog/'>Blog</a></p>
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>© ravinwashere 2026</p>
    </footer>
</body>
</html>
